@use '../../App.scss' as *;
// @mixin random-bgr() {
//   color: rgb(random(255), random(255), random(255));
// }

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s forwards;
  min-width: 10px;
}

.text-animate-hover {
  // $random: random(100);
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;
  animation: rubberBand 1s;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
    animation: bounceIn 1s 1s forwards;
  }
}

@for $i from 1 to 33 {
  .text-animate._#{$i} {
    animation-delay: calc($i / 10) + s;
    // animation-delay: #{$i/10}s;
  }
}
