.logo-container__right {
  width: 400px;
  height: 610px;

  .solid-logo,
  svg {
    width: 100%;
    height: auto;
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    transform: rotateZ(30deg) !important;
  }

  .solid-logo {
    z-index: 1;
    // opacity: 0;
  }

  // .svg-container {
  //   stroke: $primary-color;
  //   stroke-width: 10px;
  // }
}
