.about-page {
  .text-zone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13%;
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 40%;

    h1 {
      font-size: 53px;
      color: $primary-color;
      font-weight: 400;
      position: relative;
      // bottom: 40px;
      left: 10px;

      &::before,
      &::after {
        font-family: 'La Belle Aurore';
        color: $tag-color;
        font-size: 18px;
        position: absolute;
        opacity: 0.6;
        margin-left: -10px;
      }

      &::before {
        content: '<div>';
        // margin-top: -40px;
        top: -40px;
        animation: fadeIn 1s backwards;
      }
      &::after {
        content: '</div>';
        left: 0;
        bottom: -400%;
        // margin-top: 35px;
        // margin-left: 30px;
        animation: fadeIn 1s backwards;
      }
    }

    .message {
      // background-color: yellow;
      text-transform: uppercase;
      font-size: 5.5rem;
      color: #333;
      display: block;
      font-weight: 900;
      // overflow: hidden;
      height: fit-content;
      position: absolute;
      padding-left: 0.5rem;
      top: 0;
      left: 0;
      // z-index: -1;
      text-indent: 0px;
      // animation: openclose 6s ease-in-out infinite;
    }

    @keyframes openclose {
      0% {
        top: 0rem;
        width: 0;
        text-indent: 0px;
      }
      5% {
        width: 0;
      }
      15% {
        width: 230px;
      }
      30% {
        top: 0rem;
        width: 230px;
      }
      33% {
        top: 0rem;
        width: 0;
      }
      35% {
        top: 0rem;
        width: 0;
        text-indent: 10px;
      }
      38% {
        top: -7.4rem;
        text-indent: 0px;
      }
      48% {
        top: -7.4rem;
        width: 190px;
      }
      62% {
        top: -7.4rem;
        width: 190px;
      }
      66% {
        top: -7.4rem;
        width: 0;
        text-indent: 10px;
      }
      71% {
        top: -15rem;
        width: 0;
        text-indent: 0px;
      }
      86% {
        top: -15rem;
        width: 330px;
      }
      95% {
        top: -15rem;
        width: 330px;
      }
      98% {
        top: -15rem;
        width: 0;
      }
      100% {
        top: 0;
        width: 0;
        text-indent: 10px;
      }
    }

    .hide {
      overflow: hidden;
      position: relative;
      height: 100%;
      .hide2 {
        height: 100%;
      }
      .text {
        font-size: 13px;
        color: white;
        font-family: sans-serif;
        text-align: justify;
        // hyphens: auto;
        font-weight: 300;
        padding-top: 20px;
        min-width: fit-content;
        display: inline-block;
        line-height: 20px;
        margin-left: 10px;
        // transform: translateY(100%);
        // animation: pulse 1s;
      }
    }

    .text-animate-hover {
      &:hover {
        color: white;
      }
    }
  }

  .webgl__right {
    z-index: -1;
    right: 0;
  }
}
